.sell-your-old {
  position: absolute;
  top: 73px;
  left: 527px;
  line-height: 120%;
  font-weight: 800;
}
.cavalo-deals {
  position: relative;
  letter-spacing: 0.12em;
}
.best-value2 {
  background: linear-gradient(133.93deg, #f6c833, #f69133);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mins {
  font-weight: 800;
  font-family: Mulish;
}
.get-best-value-container {
  position: relative;
  font-size: 42px;
  line-height: 120%;
  display: inline-block;
  width: 364px;
  color: #fff;
}
.cavalo-deals-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  z-index: 0;
}
.frame-icon22 {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-icon22,
.get-estimate {
  position: relative;
}
.frame-parent47 {
  border-radius: 8px;
  background-color: #f8b301;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 17px 30px 17px 24px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  z-index: 1;
  font-size: 18px;
  color: #1e2130;
}
.group-icon1 {
  height: 39.62%;
  width: 41.12%;
  top: 55.5%;
  right: 11.2%;
  bottom: 4.88%;
  left: 47.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.arrow-icon,
.group-icon1,
.group-icon2 {
  position: absolute;
  margin: 0 !important;
}
.group-icon2 {
  height: 38.47%;
  width: 25.84%;
  top: 41.72%;
  right: 1.2%;
  bottom: 19.81%;
  left: 72.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 3;
}
.arrow-icon {
  top: 221.18px;
  left: 164.32px;
  width: 50.42px;
  height: 70.5px;
  flex-shrink: 0;
  opacity: 0.25;
  z-index: 4;
}
.frame-parent46 {
  border-radius: 18px;
  background-color: #1e2130;
  width: 625px;
  height: 400px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 42px 32px 36px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.best-practices {
  font-weight: 800;
}
.best-practices-to-container {
  position: relative;
  font-size: 42px;
  line-height: 120%;
  color: #1e2130;
  display: inline-block;
  width: 313px;
  height: 212px;
  flex-shrink: 0;
}
.cavalo-blogs-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-icon23,
.know-more-parent {
  border-radius: 8px;
  overflow: hidden;
}
.frame-icon23 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.know-more-parent {
  background-color: #1e2130;
  display: flex;
  flex-direction: row;
  padding: 17px 24px 17px 30px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  color: #fff;
}
.frame-parent45,
.frame-parent48 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent48 {
  border-radius: 18px;
  border: 2px solid #d4d4d4;
  box-sizing: border-box;
  width: 413px;
  height: 400px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 42px 32px 36px;
  color: rgba(30, 33, 48, 0.75);
}
.frame-parent45 {
  position: absolute;
  top: 159px;
  left: 189px;
  width: 1062px;
  flex-direction: row;
  text-align: left;
  font-size: 14px;
  color: #fdebb0;
}
.browse-by-brand4 {
  position: relative;
  background-color: #fff;
  width: 1440px;
  height: 644px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 7;
  text-align: center;
  font-size: 42px;
  color: #1e2130;
  font-family: Mulish;
}
