.whats-the-process1 {
  position: relative;
  line-height: 150%;
}
.akar-iconscircle-chevron-down9 {
  position: relative;
  width: 24px;
  height: 26px;
  flex-shrink: 0;
  overflow: hidden;
}
.whats-the-process-of-picking-group {
  width: 1006px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-wrapper18 {
  border-radius: 8px;
  background-color: #fff;
  border: 1.5px solid #eee;
  box-sizing: border-box;
  width: 1062px;
  display: flex;
  flex-direction: column;
  padding: 18px 28px 24px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 22px;
  color: #2b2f34;
  font-family: Mulish;
}
